In [1]:
# Question 1
# Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical
# or not. A number is symmetrical when it is the same as its reverse.
# Examples
# is_symmetrical(7227) ➞ True

# is_symmetrical(12567) ➞ False

# is_symmetrical(44444444) ➞ True

# is_symmetrical(9939) ➞ False

# is_symmetrical(1112111) ➞ True

# Question 2
# Given a string of numbers separated by a comma and space, return the product of the numbers.
# Examples
# multiply_nums("2, 3") ➞ 6

# multiply_nums("1, 2, 3, 4") ➞ 24

# multiply_nums("54, 75, 453, 0") ➞ 0

# multiply_nums("10, -2") ➞ -20

# Question 3
# Create a function that squares every digit of a number.
# Examples
# square_digits(9119) ➞ 811181

# square_digits(2483) ➞ 416649

# square_digits(3212) ➞ 9414
# Notes
# The function receives an integer and must return an integer.

# Question 4
# Create a function that sorts a list and removes all duplicate items from it.
# Examples
# setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

# setify([4, 4, 4, 4]) ➞ [4]

# setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

# setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

# Question 5
# Create a function that returns the mean of all digits.
# Examples
# mean(42) ➞ 3

# mean(12345) ➞ 3

# mean(666) ➞ 6
# Notes
# •	The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).
# •	The mean will always be an integer.

In [2]:
# Question 1
# Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical
# or not. A number is symmetrical when it is the same as its reverse.
# Examples
# is_symmetrical(7227) ➞ True

# is_symmetrical(12567) ➞ False

# is_symmetrical(44444444) ➞ True

# is_symmetrical(9939) ➞ False

# is_symmetrical(1112111) ➞ True

In [17]:
def is_symmetrical(num):
    return "".join(reversed(str(num)))==str(num)

In [18]:
is_symmetrical(7227)

True

In [19]:
is_symmetrical(12567)

False

In [20]:
is_symmetrical(44444444)

True

In [21]:
 is_symmetrical(9939)

False

In [22]:
is_symmetrical(1112111)

True

In [23]:
# Question 2
# Given a string of numbers separated by a comma and space, return the product of the numbers.
# Examples
# multiply_nums("2, 3") ➞ 6

# multiply_nums("1, 2, 3, 4") ➞ 24

# multiply_nums("54, 75, 453, 0") ➞ 0

# multiply_nums("10, -2") ➞ -20

In [29]:
def multiply_nums(str1):
    str2=str1.split(',')
    mul=1
    for num in str2:
        mul= mul*int(num)
    return mul

In [30]:
multiply_nums("2, 3")

6

In [31]:
multiply_nums("1, 2, 3, 4")

24

In [32]:
multiply_nums("54, 75, 453, 0")

0

In [33]:
multiply_nums("10, -2")

-20

In [34]:
# Question 3
# Create a function that squares every digit of a number.
# Examples
# square_digits(9119) ➞ 811181

# square_digits(2483) ➞ 416649

# square_digits(3212) ➞ 9414
# Notes
# The function receives an integer and must return an integer.

In [55]:
def square_digits(num):
    str2 = str(num)
    str3=''
    for num in str2:
        str3 = str(int(num)**2) + str3
    return int("".join(list(reversed(str3))))

In [56]:
square_digits(9119)

181118

In [57]:
square_digits(2483)

461469

In [58]:
square_digits(3212)

9414

In [59]:
# Question 4
# Create a function that sorts a list and removes all duplicate items from it.
# Examples
# setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

# setify([4, 4, 4, 4]) ➞ [4]

# setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

# setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [67]:
def setify(list1):
    withoutd=[]
    for item in list1:
        if item not in withoutd:
            withoutd.append(item)
    return sorted(withoutd)

In [68]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [69]:
setify([4, 4, 4, 4])

[4]

In [70]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [71]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

In [72]:
# Question 5
# Create a function that returns the mean of all digits.
# Examples
# mean(42) ➞ 3

# mean(12345) ➞ 3

# mean(666) ➞ 6
# Notes
# •The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).
# •The mean will always be an integer.

In [77]:
def mean(num):
    str1 = str(num)
    sum1=0
    for num in str1:
        sum1=sum1+int(num)
    return int(sum1/len(str1))

In [78]:
mean(42)

3

In [79]:
mean(12345)

3

In [80]:
mean(666)

6