In [1]:
# 1.Write a Python program to find sum of elements in list?
# 2.Write a Python program to  Multiply all numbers in the list?
# 3.Write a Python program to find smallest number in a list?
# 4.Write a Python program to find largest number in a list?
# 5.Write a Python program to find second largest number in a list?
# 6.Write a Python program to find N largest elements from a list?
# 7.Write a Python program to print even numbers in a list?
# 8.Write a Python program to print odd numbers in a List?
# 9.Write a Python program to Remove empty List from List?
# 10.Write a Python program to Cloning or Copying a list?
# 11.Write a Python program to Count occurrences of an element in a list?

##### 1.Write a Python program to find sum of elements in list?

##### Answer 1

In [3]:
list1 =[11,22,33,44,55,66,77,88]

In [4]:
sum1=0
for item in list1:
    sum1 +=item
print(f"Sum of the element in the list {sum1}")

Sum of the element in the list 396

##### 2.Write a Python program to  Multiply all numbers in the list?

##### Answer 2

In [8]:
list1 =[11,22,33]

In [9]:
mul=1
for item in list1:
    mul *=item
print(f"Sum of the element in the list {mul}")

Sum of the element in the list 7986

##### 3.Write a Python program to find smallest number in a list?

##### Answer 3

In [14]:
list1 =[11,22,33,1,0,100,500,-1]

In [15]:
min1 = list1[0]
for num in list1:
    if num < min1:
        min1 = num
print(f"Minimum Number in the list is {min1}")

Minimum Number in the list is -1

##### 4.Write a Python program to find largest number in a list?

##### Answer 4

In [16]:
list1 =[11,22,33,1,0,100,500,-1]

In [17]:
max1 = list1[0]
for num in list1:
    if num > max1:
        max1 = num
print(f"Minimum Number in the list is {max1}")

Minimum Number in the list is 500

##### 5.Write a Python program to find second largest number in a list?

##### Answer 5

In [27]:
list1 =[11,22,33,1,0,100,500,-1,1000]
list1.sort()
print(f"Second largest Number in the list is {list1[-2]}")

Second largest Number in the list is 500

##### 6.Write a Python program to find N largest elements from a list?

##### Answer 6

In [40]:
list1 =[11,22,33,1,0,100,500,-1,1000]
n = int(input("Enter the largest number you want to find"))

list1.sort()
print(list1)

for i in range(len(list1)):
    if i==n:
        print(f"The larget number you are looking for is {list1[-i]}")
        break
else:
    print("Out of range")

Enter the largest number you want to find4
[-1, 0, 1, 11, 22, 33, 100, 500, 1000]
The larget number you are looking for is 33

##### 7.Write a Python program to print even numbers in a list?

##### Answer 7

In [54]:
list1 = list(range(10,21))
print(f"Original list is {list1}")
print(f"These many even numbers are present in the list")
for item in list1:
    if item%2==0:
        print(item,end=' ')

Original list is [10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
These many even numbers are present in the list
10 12 14 16 18 20

##### 8.Write a Python program to print odd numbers in a List?

##### Answer 8

In [55]:
list1 = list(range(10,21))
print(f"Original list is {list1}")
print(f"These many odd numbers are present in the list")
for item in list1:
    if item%2!=0:
        print(item,end=' ')

Original list is [10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
These many odd numbers are present in the list
11 13 15 17 19

##### 9.Write a Python program to Remove empty List from List?

##### Answer 9

In [61]:
list1 = [[1,2,3,4],[],[11,12,13],[1,2,3],[]]
with_out_empty_list=[]
for item in list1:
    if len(item)==0:
        continue
    else:
        with_out_empty_list.append(item)
print(f"List without empty list {with_out_empty_list}")

List without empty list [[1, 2, 3, 4], [11, 12, 13], [1, 2, 3]]

##### 10.Write a Python program to Cloning or Copying a list?

##### Answer 10

##### Cloning the list

In [69]:
list1 =[11,22,33,44,55]
list2 =list1
print(f"Element inside the list1 are {list1}")
print(f"Element inside the list1 are {list2}")



print(f"First is stored at memory location {id(list1)}")
print(f"Second (cloned) is stored at memory location {id(list1)}")


list1[2]=888

print(list1)
print(list2)

Element inside the list1 are [11, 22, 33, 44, 55]
Element inside the list1 are [11, 22, 33, 44, 55]
First is stored at memory location 2315944908608
Second (cloned) is stored at memory location 2315944908608
[11, 22, 888, 44, 55]
[11, 22, 888, 44, 55]

##### Copying the list

In [71]:
list1 =[11,22,33,44,55]
list2 =list1.copy()
print(f"Element inside the list1 are {list1}")
print(f"Element inside the list1 are {list2}")



print(f"First is stored at memory location {id(list1)}")
print(f"Second (cloned) is stored at memory location {id(list1)}")


list1[2]=888

print(list1)
print(list2)

Element inside the list1 are [11, 22, 33, 44, 55]
Element inside the list1 are [11, 22, 33, 44, 55]
First is stored at memory location 2315945105408
Second (cloned) is stored at memory location 2315945105408
[11, 22, 888, 44, 55]
[11, 22, 33, 44, 55]

##### 11.Write a Python program to Count occurrences of an element in a list?

##### Asnwer 11

In [84]:
list1 =[11,11,22,33,44,55,66,66,66,77]
i=0
for item in list1:
    print(f"Element {item} occured {list1.count(item)} times")

Element 11 occured 2 times
Element 11 occured 2 times
Element 22 occured 1 times
Element 33 occured 1 times
Element 44 occured 1 times
Element 55 occured 1 times
Element 66 occured 3 times
Element 66 occured 3 times
Element 66 occured 3 times
Element 77 occured 1 times

# OR

In [85]:
d= {}
list1 =[11,11,22,33,44,55,66,66,66,77]

for item in list1:
    d[item] = d.get(item,0) + 1

for key,value in d.items():
    print(f"Element {key} Occured {value} times")

Element 11 Occured 2 times
Element 22 Occured 1 times
Element 33 Occured 1 times
Element 44 Occured 1 times
Element 55 Occured 1 times
Element 66 Occured 3 times
Element 77 Occured 1 times