In [1]:
# Question1
# Create a function that takes a list of strings and integers, and filters out the list so that it returns a list of integers only.
# Examples
# filter_list([1, 2, 3, "a", "b", 4]) ➞ [1, 2, 3, 4]

# filter_list(["A", 0, "Edabit", 1729, "Python", "1729"]) ➞ [0, 1729]

# filter_list(["Nothing", "here"]) ➞ []

# Question2
# Given a list of numbers, create a function which returns the list but with each element's index in the list added to itself. This means you add 0 to the number at index 0, add 1 to the number at index 1, etc...
# Examples
# add_indexes([0, 0, 0, 0, 0]) ➞ [0, 1, 2, 3, 4]

# add_indexes([1, 2, 3, 4, 5]) ➞ [1, 3, 5, 7, 9]

# add_indexes([5, 4, 3, 2, 1]) ➞ [5, 5, 5, 5, 5]

# Question3
# Create a function that takes the height and radius of a cone as arguments and returns the volume of the cone rounded to the nearest hundredth. See the resources tab for the formula.
 
# Examples
# cone_volume(3, 2) ➞ 12.57

# cone_volume(15, 6) ➞ 565.49

# cone_volume(18, 0) ➞ 0

# Question4
# This Triangular Number Sequence is generated from a pattern of dots that form a triangle. The first 5 numbers of the sequence, or dots, are: 
# 1, 3, 6, 10, 15
# This means that the first triangle has just one dot, the second one has three dots, the third one has 6 dots and so on.
# Write a function that gives the number of dots with its corresponding triangle number of the sequence.
# Examples
# triangle(1) ➞ 1

# triangle(6) ➞ 21

# triangle(215) ➞ 23220

# Question5
# Create a function that takes a list of numbers between 1 and 10 (excluding one number) and returns the missing number.
# Examples
# missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10]) ➞ 5

# missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8]) ➞ 10

# missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9]) ➞ 7

In [2]:
# Question1
# Create a function that takes a list of strings and integers, and filters 
# out the list so that it returns a list of integers only.
# Examples
# filter_list([1, 2, 3, "a", "b", 4]) ➞ [1, 2, 3, 4]

# filter_list(["A", 0, "Edabit", 1729, "Python", "1729"]) ➞ [0, 1729]

# filter_list(["Nothing", "here"]) ➞ []

#### Asnwer 1

In [3]:
def filter_list(list1):
    int1=[]
    for item in list1:
        if type(item)==int:
            int1.append(item)
    return int1

In [4]:
filter_list([1, 2, 3, "a", "b", 4])

[1, 2, 3, 4]

In [5]:
filter_list(["A", 0, "Edabit", 1729, "Python", "1729"])

[0, 1729]

In [6]:
# Question2
# Given a list of numbers, create a function which returns the 
# list but with each element's index in the list added to itself. 
# This means you add 0 to the number at index 0, add 1 to the number at index 1, etc...
# Examples
# add_indexes([0, 0, 0, 0, 0]) ➞ [0, 1, 2, 3, 4]

# add_indexes([1, 2, 3, 4, 5]) ➞ [1, 3, 5, 7, 9]

# add_indexes([5, 4, 3, 2, 1]) ➞ [5, 5, 5, 5, 5]

#### Asnwer 2

In [7]:
def add_indexes(list1):
    new_list1=[]
    for i in range(0,len(list1)):
        new_list1.append(i + list1[i])
    return new_list1

In [8]:
add_indexes([0, 0, 0, 0, 0])

[0, 1, 2, 3, 4]

In [9]:
add_indexes([1, 2, 3, 4, 5])

[1, 3, 5, 7, 9]

In [10]:
add_indexes([5, 4, 3, 2, 1])

[5, 5, 5, 5, 5]

In [11]:
# Question3
# Create a function that takes the height and radius of a cone as arguments 
#and returns the volume of the cone rounded to the nearest hundredth. See the resources tab for the formula.
 
# Examples
# cone_volume(3, 2) ➞ 12.57

# cone_volume(15, 6) ➞ 565.49

# cone_volume(18, 0) ➞ 0

#### Asnwer 3

In [12]:
import math
def cone_volume(h,r):
    l = math.pi * r**2 *h
    return round(l/3,2)

In [13]:
cone_volume(3, 2)

12.57

In [14]:
cone_volume(15, 6)

565.49

In [15]:
cone_volume(18, 0)

0.0

In [16]:
# Question4
# This Triangular Number Sequence is generated from a pattern of dots that form a triangle. 
#The first 5 numbers of the sequence, or dots, are: 
# 1, 3, 6, 10, 15
# This means that the first triangle has just one dot, the second one has three dots, the third one has 6 dots and so on.
# Write a function that gives the number of dots with its corresponding triangle number of the sequence.
# Examples
# triangle(1) ➞ 1

# triangle(6) ➞ 21

# triangle(215) ➞ 23220

#### Answer 4

In [17]:
# 1, 3, 6, 10, 15
def triangle(num):
    if num==1:
        return(1)
    else:
        count=1
        sum1=0
        for i in range(1,num+1):
            sum1=sum1+count
            count=count+1
    return sum1

In [18]:
#1+2=3,3+3=6,6+4=10,10+5=15,15+6=21 

triangle(1)

1

In [19]:
triangle(6)

21

In [20]:
triangle(215)

23220

In [21]:
# Question5
# Create a function that takes a list of numbers between 1 and 10 (excluding one number) and returns the missing number.
# Examples
# missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10]) ➞ 5

# missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8]) ➞ 10

# missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9]) ➞ 7

#### Answer 5

In [69]:
def missing_num(list1):
    num=''
    list2=list(range(1,11))
    L1=set(list1)
    L2=set(list2)
#     print(L1)
#     print(L2)
    num = L1.symmetric_difference(L2)
    for num1 in num:
        print(num1)

In [70]:
missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10])

5

In [71]:
missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8])

10

In [72]:
missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9])

7